<app-header></app-header>

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive" *ngIf="localStorageCartData?.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of localStorageCartData;let i=index">
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img [src]="'http://localhost:3030/file/images/'+ item.image"
                                    class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ item.name }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ item.price | currency: 'INR' }} </p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button (click)="decrement(item._id)" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" disabled class="form-control form-control-sm text-center border-0"
                                    [value]="getQuantity(item._id)">
                                <div class="input-group-btn">
                                    <button (click)="increment(item._id)" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ item.price * getQuantity(item._id) | currency: 'INR' }} </p>
                        </td>
                        <td>
                            <button (click)="removeFromCart(item._id)" class="btn btn-md rounded-circle bg-light border mt-4">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="localStorageCartData?.length === 0" class="text-center mt-3">
            <h3>Your cart is empty</h3>
            <p>Please add some products to your cart</p>
        </div>

        <div class="row g-4 justify-content-end" *ngIf="localStorageCartData?.length > 0">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="rounded">
                    <button [routerLink]="['/checkout']" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                        type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

<!-- Backend Cart Page End -->
<div class="container-fluid">
    <div class="container">
        <div class="table-responsive" *ngIf="backendCartData?.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of backendCartData;let i=index">
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img [src]="'http://localhost:3030/file/images/'+ item.productId.image"
                                    class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ item.productId.name }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ item.price | currency: 'INR' }} </p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button (click)="decrement(item.productId._id)" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" disabled class="form-control form-control-sm text-center border-0"
                                    [value]="item.quantity">
                                <div class="input-group-btn">
                                    <button (click)="increment(item.productId._id)" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ item.totalPrice | currency: 'INR' }} </p>
                        </td>
                        <td>
                            <button (click)="removeFromCart(item.productId._id)" class="btn btn-md rounded-circle bg-light border mt-4">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="backendCartData?.length === 0" class="text-center mt-3">
            <h3>Your cart is empty</h3>
            <p>Please add some products to your cart</p>
        </div>

        <div class="row g-4 justify-content-end" *ngIf="backendCartData?.length > 0">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="rounded">
                    <button [routerLink]="['/checkout']" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                        type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Backend Cart Page End -->

<app-footer></app-footer>