/*** Footer Start ***/
.footer .footer-item .btn-link {
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
  color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
  line-height: 35px;
}
/*** Footer End ***/
